@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* $intro_text_color: #444;
$p_color: #555;
$name_color: #2978b5; */
html, body {
   margin: 0px;
   padding: 0px;
}
*{
    font-family: poppins, sans-serif;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #091921;
}
.heading{
    font-size: 3rem;
    color: #fff;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form>*{
    margin: 8px;
}
input{
    font-size: 1.2em;
}
input:focus{
    outline: none;
}
.input{
    border: 2px solid #5eb6ff;
    position: relative;
    color: #fff;
    border-radius: 3px;
    padding: 8px 4px;
    background-color: #2978b5;
}
.submit{
    background-color: #008cff;
    border: 0px;
    padding: 8px 16px;
    border-radius: 2px;
    cursor: pointer;
    color: white;
    margin:  16px 8px;
}
label{
    font-size: 2rem;
    color: #fff;
}
.login{
    color: #0051ff;
    text-decoration: none;
}